<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="JWT_SECRET_KEY"     value="p/$+dc(vi%r),%}rIO029f,|bv:UCmDN.t`(W|8H8Utb|[>+t.Ok*P3J:rT?KBT"/>
	<add key="JWT_AUDIENCE_TOKEN" value="."/>
	<add key="JWT_ISSUER_TOKEN"   value="."/>
	<add key="JWT_EXPIRE_MINUTES" value="30"/>
	<add key="Access-Control-Allow-Origin" value="http://127.0.0.1,http://localhost:4200,http://localhost:80"/>
	<!-- Endpoint Cerbero -->
	<add key="UrlCerberoRest" value="http://10.100.107.36/CerberoREST/api/" />
	<!-- Ruta de registro de Windows -->
	<add key="RutaRenavi" value="SOFTWARE\Renavi" />
	<!-- Clave de cadena de conexión Pagos -->
	<add key="ClaveConnectionString" value="ConnectionString" />
</appSettings>