<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioWEBSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cabiel/PORTAL.BL.SI/ServicioWEB.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioWEBSoap" contract="ServiceCabiel.ServicioWEBSoap" name="ServicioWEBSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
