<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configuración general -->
	<targets>
		<!-- Configurar el objetivo para escribir en un archivo -->
		<target xsi:type="File"
				name="logfile"
				fileName="D:/CANVIA/RENAVI/LOGS/ServicioRenavi_log-${shortdate}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
				encoding="utf-8" />
	</targets>

	<rules>
		<!-- Regla para escribir todos los logs en el archivo -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>
